<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiperf_library"
    android:versionCode="1030"
    android:versionName="3.0.0" >

  	<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="9" />
  	<uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
  	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  	<application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        <activity
            android:name=".mobiperf.SpeedometerApp"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="com.mobiperf.SpeedometerApp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mobiperf.SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mobiperf.SystemConsoleActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".mobiperf.ResultsConsoleActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".mobiperf.MeasurementCreationActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".mobiperf.SpeedometerPreferenceActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".mobiperf.MeasurementScheduleConsoleActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
    	<activity android:name=".mobiperf.About"></activity>

    <service 
      android:name=".mobiperf.Console" 
      android:exported="false">
    </service>
    <receiver android:name=".mobiperf.WatchdogBootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <category android:name="android.intent.category.HOME" />
      </intent-filter>
    </receiver>
    </application>

</manifest>